@model yard_management_system.Models.Cargo

@{
    ViewData["Title"] = "Redagavimas";
}

<h2>Redagavimas</h2>

<h4>Krovinys nr. @Model.ID</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label">Registracijos numeris</label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">Svoris</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Aprašymas</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label">Būsena</label>
                <select asp-for="State" asp-items="Html.GetEnumSelectList<Cargo.CargoState>()" class="form-control"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RampID" class="control-label">Rampa</label>
                <select asp-for="RampID" class="form-control" asp-items="ViewBag.RampID"></select>
                <span asp-validation-for="RampID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryID" class="control-label">Įvažiavimo kodas</label>
                <select asp-for="EntryID" class="form-control" asp-items="ViewBag.EntryID"></select>
                <span asp-validation-for="EntryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Orders" asp-action="Details" asp-route-id="@Model.OrderID">Grįžti į sąrašą</a>
</div>

