@model yard_management_system.Models.Order

@{
    ViewData["Title"] = "Ištrynimas";
}

<h2>Ištrynimas</h2>

<h3>Ar tikrai nori ištrinti šį užsakymą?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Būsena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            Sukūrimo data
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            Sukūrė
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCreator.FirstName)
            @Html.DisplayFor(model => model.UserCreator.SecondName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Trinti" class="btn btn-default" /> |
        <a asp-action="Index">Grįžti į sąrašą</a>
    </form>
</div>
