@{
    ViewData["Title"] = "Pagrindinis";
}

<style>
    table, th, td {
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    caption {
        text-align: center;
        padding: 10px;
        color: red;
    }
</style>


<div>
    <h1>Kiemo valdymo sistema</h1>
    <div align="right">
        Prisijungęs naudotojas: administratorius<br />
        <a href="">Atsijungti</a>
    </div>
</div>