@{
    ViewData["Title"] = "Pagrindinis";
}

<style>
    table, th, td {
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    caption {
        text-align: center;
        padding: 10px;
        color: red;
    }
</style>


<div>
    <h1>Kiemo valdymo sistema</h1>
    <div align="right">
        Prisijungęs naudotojas: administratorius<br />
        <a href="">Atsijungti</a>
    </div>
</div>

<div>
    <table class="table table-hover">
        <caption><b><a href="">Antradienis</a></b></caption>
        <tr>
            <th></th>
            <th>R1</th>
            <th>R2</th>
        </tr>
        <tr>
            <th>09:00</th>
            <th><a href="">FEE757 Iškraunamas</a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>09:30</th>
            <th><a href=""></a></th>
            <th><a href="">HGU575 Vėluoja</a></th>
        </tr>
        <tr>
            <th>10:00</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>10:30</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>11:00</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>12:30</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>13:00</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>13:30</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>14:00</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
        <tr>
            <th>14:30</th>
            <th><a href=""></a></th>
            <th><a href=""></a></th>
        </tr>
    </table>
</div>