@{
    ViewData["Title"] = "Užsakymai";
}

<div>
    <h2>@ViewData["Title"]</h2>
    <div align="right">
        Prisijungęs naudotojas: administratorius<br />
        <a href="">Atsijungti</a>
    </div>
    <div>
        <h3>@ViewData["Message"]</h3>
    </div>
</div>

<div>
    <p>Čia turi būti užsakymų sąrašas.</p>
</div>
