@{
    ViewData["Title"] = "Nustatymai";
}

<div>
    <h2>@ViewData["Title"]</h2>
    <div align="right">
        Prisijungęs naudotojas: administratorius<br />
        <a href="">Atsijungti</a>
    </div>
    <div>
        <h3>@ViewData["Message"]</h3>
    </div>
</div>

<div>
    <p></p>
</div>


<div class="container">
    <div>
        <p>
            <input id="Button1" type="button" value="Teisės" />
        </p>
    </div>
    <div>
        <p>
           <a asp-area="" asp-controller="Users" asp-action="Index">Naudotojai</a>
        </p>
    </div>
    <div>
        <p>
            <input id="Button3" type="button" value="Vartai" />
        </p>
    </div>
    <div>
        <p>
            <input id="Button4" type="button" value="Rampos" />
        </p>
    </div>
    <div>
        <p>
            <input id="Button5" type="button" value="Laiko tarpsniai" />
        </p>
    </div>
</div>

